body {
  background-color: rgba(20, 20, 20);
  color: rgba(215, 215, 215);
}

a {
    text-decoration: none;
    color: black;
    padding: 3px;
}

a:hover {
    background-color: rgba(20, 20, 20);
    color: lightblue;
    transition-duration: 1s;
    
}
.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: lightBlue;
    color: black;
    top: 0;
    left: 0;
    padding: 10px;
}
